/* ===================================================
Basic HTML elements 
====================================================== */

img {}

/* ===================================================
    Classes 
====================================================== */

.imgSmall {
    width: 200px;
    height: auto;
}

/* ===================================================
    ID selectors 
====================================================== */


#imageOfMe {
    width: 400px;
    height: auto;
}