/* ===================================================
    Basic HTML elements 
====================================================== */

body {
    background-color: rgb(77, 77, 77);
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    border: 1px solid green;
}

[target] {
    color: orange;
}




/* ===================================================
Classes 
====================================================== */
.divNavigationBar {
    /*
    */
    position: fixed;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #333;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
    border-radius: 13px;
}

.navbar a:hover {
    background-color: #111;
}

.paragraph {
    color: rgb(255, 255, 255);
    background-color: rgb(69, 69, 69);
    height: 50px;

}

.someClass {
    margin: 0%;
    border: 0%;
    padding: 0%;
}


.imgLarge {
    width: 300px;
    height: auto;
}


/* ===================================================
    ID selectors 
====================================================== */
#introText {
    width: 40%;
    text-align: center;
}

#Page1Img {
    width: 40%;
    text-align: center;
}

#background-section {
    width: 40%;
    border: 1px solid black;
    text-align: center;
    letter-spacing: 12px;
}

#background-section p {
    height: auto;
}

#typography-section p {
    width: 40%;
    height: auto;
}

#colors-paragraph {
    text-decoration: underline;
    font-family: 'Times New Roman';
}

#myLink {
    text-decoration: none;
}