/* ===================================================
Basic HTML elements 
====================================================== */

img {}

/* ===================================================
    Classes 
====================================================== */

.imgSmall {
    width: 300px;
    height: auto;
    transition: width 1s ease-in-out;
}

.imgSmall:hover {
    width: 600px;
    height: 100%;
    transition: width 1s ease-in-out;
}

.box {
    padding: 10px 10px;
}

/* ===================================================
    ID selectors 
====================================================== */

/* Containers */

#cont1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cont2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cont3 {}

/* Images */
#img1 {}

#img2 {}

#img3 {}

#img4 {}