/* ===================================================
    Basic HTML elements 
====================================================== */



/* ===================================================
Classes 
====================================================== */



/* ===================================================
    ID selectors 
====================================================== */
/* Top container */
#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#cont1 {}

#cont2 {}

#cont3 {}