/* ===================================================
    Basic HTML elements 
====================================================== */

img {}

/* ===================================================
Classes 
====================================================== */




/* ===================================================
    ID selectors 
====================================================== */
/* Top container */
#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#cont1 {}

#cont2 {}

#cont3 {
    display: flex;
    flex-direction: row;
    padding: 10px, 10px;
    height: 100px;

}