/* ===================================================
Basic HTML elements 
====================================================== */

img {}

/* ===================================================
    Classes 
====================================================== */


/* Skill */

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: auto;
    width: auto;
    margin-right: 0%;
    margin-bottom: 0%;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    margin: 5%;
    flex-wrap: wrap;
}

.skill img {
    width: auto;
    height: auto;
    max-height: 150px;
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.skill img:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}


/* ===================================================
    ID selectors 
====================================================== */

#main-skill-container {
    flex-direction: row;
}

#container-skill {
    width: 100%;
}